
<!-- https://bootsnipp.com/snippets/Q04ZX -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- Navigation -->
<div class="navbar-default" id="header">
    <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
        <div class="container">
            <a class="navbar-brand" routerLink="/index" style="text-transform: uppercase;color:white"> {{'APP_TITLE' | translate}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/index">{{'HEADER.HOME' | translate}}
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="loggedInAsDocent()">
                        <a class="nav-link"  routerLink="/project">Project
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="loggedInAsDocent()">
                        <a class="nav-link" routerLink="/docent">{{'HEADER.TEACHER' | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="loggedIn() && loggedInAsDocent() ===false">
                        <a class="nav-link" (click)="getStudentGroep()" routerLink="">{{'HEADER.GROUP' | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="loggedIn() && loggedInAsDocent() ===false">
                        <a class="nav-link" routerLink="/profiel">Profiel</a>
                    </li>
                    <li class="nav-item" *ngIf="loggedIn()">
                        <a class="nav-link" (click)="logout()" routerLink="/login">{{'HEADER.LOGOUT' | translate}}</a>
                    </li>
                    <li class="nav-item" *ngIf="loggedIn() == false">
                        <a class="nav-link" routerLink="/login">{{'HEADER.LOGIN' | translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-link" [class.active-language]="lang === translate.currentLang" *ngFor="let lang of translate.getLangs();">
          <a (click)="changeLanguage($event, lang)" href="#">{{lang}}</a> &nbsp;
        </li>
      </ul>
    </nav>
</div>


