<div class="panel">
  <div class="panel-heading">
    <h4 class="text-center"> Als ik plotseling een moeilijke taak krijg met een vroege deadline en onbekende mensen:</h4>
  </div>
  <hr>
  <div class="panel-body">
    <div class="row">
    </div>
    <br>
    <form [formGroup]="vraag5Form" class="form-horizontal">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Werkt mijn verbeelding slechter door de onbekende mensen
            </label>
            <label class="radio-inline">
              <input formControlName="A33" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A33" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A33" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A33" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A33" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A33" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A33" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A33" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A33" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A33" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Vind ik dit mijn persoonlijke talenten tot een overeenkomst kolt
            </label>
            <label class="radio-inline">
              <input formControlName="A34" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A34" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A34" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A34" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A34" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A34" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A34" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A34" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A34" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A34" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Verandert mijn oordeel niet door mijn gevoelens
            </label>
            <label class="radio-inline">
              <input formControlName="A35" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A35" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A35" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A35" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A35" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A35" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A35" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A35" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A35" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A35" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Wil ik een duidelijk structuur opbouwen
            </label>
            <label class="radio-inline">
              <input formControlName="A36" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A36" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A36" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A36" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A36" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A36" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A36" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A36" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A36" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A36" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Kan ik werken met mensen die veel verschillen van elkaar (vaardigheden, etc.)
            </label>
            <label class="radio-inline">
              <input formControlName="A37" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A37" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A37" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A37" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A37" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A37" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A37" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A37" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A37" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A37" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Kan ik mij makkelijk vinden in het beeld van iemand die dicht bij de oplossing zit
            </label>
            <label class="radio-inline">
              <input formControlName="A38" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A38" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A38" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A38" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A38" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A38" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A38" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A38" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A38" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A38" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Ken ik meestal wel iemand die een goede kennis hierover heeft
            </label>
            <label class="radio-inline">
              <input formControlName="A39" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A39" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A39" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A39" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A39" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A39" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A39" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A39" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A39" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A39" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Krijg ik een natuurlijke gevoel van nood
            </label>
            <label class="radio-inline">
              <input formControlName="A40" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A40" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A40" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A40" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A40" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A40" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A40" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A40" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A40" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A40" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
