<div class="panel">
  <div class="panel-heading">
    <h4 class="text-center"> Om voldoening te vinden in mijn werk:</h4>
  </div>
  <hr>
  <div class="panel-body">
    <div class="row">
    </div>
    <br>
    <form [formGroup]="vraag2Form" class="form-horizontal">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Heb ik graag een grote inspraak op beslissingen
            </label>
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Voel ik mij goed als ik veel aandacht en concentratie moet geven
            </label>
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Ben ik verontrustend om collega's te helpen met hun problemen
            </label>
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Discrimineer ik alternatieve oplossingen
            </label>
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Maak ik graag een creatieve benadering naar de oplossing
            </label>
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Bekijk ik graag andere standpunten naar het probleem
            </label>
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Luister ik liever naar uitwerkingen dan naar nieuwe ideeën
            </label>
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Zoek ik graag nieuwe standpunten en nieuwe ideeën
            </label>
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
