<div class="panel">
  <div class="panel-heading">
    <h4 class="text-center"> {{'QUIZ.HEADERQ2' | translate}}</h4>
  </div>
  <hr>
  <div class="panel-body">
    <div class="row">
    </div>
    <br>
    <form [formGroup]="vraag2Form" class="form-horizontal">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q9' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A9" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q10' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A10" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q11' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A11" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q12' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A12" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q13' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A13" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q14' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A14" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q15' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A15" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q16' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A16" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
