<div class="panel">
  <div class="panel-heading">
    <h4 class="text-center">{{'QUIZ.HEADERQ1' | translate}}</h4>
  </div>
  <hr>
  <div class="panel-body">
<div class="row">
</div>
<br>
<form [formGroup]="vraag1Form" class="form-horizontal">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          {{'QUIZ.Q1' | translate}}
        </label>
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          {{'QUIZ.Q2' | translate}}
        </label>
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          {{'QUIZ.Q3' | translate}}
        </label>
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          {{'QUIZ.Q4' | translate}}
        </label>
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          {{'QUIZ.Q5' | translate}}
        </label>
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          {{'QUIZ.Q6' | translate}}
        </label>
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          {{'QUIZ.Q7' | translate}}
        </label>
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          {{'QUIZ.Q8' | translate}}
        </label>
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
</form>
  </div>
</div>
