<div class="panel">
  <div class="panel-heading">
    <h4 class="text-center"> Wanneer ik met anderen in een groep werk:</h4>
  </div>
  <hr>
  <div class="panel-body">
<div class="row">
</div>
<br>
<form [formGroup]="vraag1Form" class="form-horizontal">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          Kan er op mij gerekend worden om het werk te organiseren
        </label>
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A1" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          Kan ik details en foutjes zien die aan de anderen niet opvallen
        </label>
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A2" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          Kan ik streng reageren als vergaderingen van het onderwerp wegdwalen
        </label>
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A3" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          Geef ik originele suggesties
        </label>
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A4" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          Annalyseer ik andere mensen hun ideëen
        </label>
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A5" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          Weet ik graag de nieuwste ideën en ontwikkelingen
        </label>
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A6" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          Kan ik goed organiseren met mensen
        </label>
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A7" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <label class="control-label col-md-6 col-sm-12">
          Help ik graag goede voorstellen om een probleem op te lossen
        </label>
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="1">
          1
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="2">
          2
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="3">
          3
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="4">
          4
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="5">
          5
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="6">
          6
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="7">
          7
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="8">
          8
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="9">
          9
        </label>
        &nbsp;
        <label class="radio-inline">
          <input formControlName="A8" type="radio" value="10">
          10
        </label>
      </div>
    </div>
  </div>
</form>
  </div>
</div>
