.ui-tabview.ui-tabview-top > .ui-tabview-nav {
  border: 0px;
}
#foto
{
    position: relative;
    content:url("../../image/github.png");
}

.agenda {  }
.ui-fileupload .ui-widget-header{
  background:#54d400;
}
 .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button{
  background: black;
}


@media (max-width: 767px) {

}
#messageArea{
  display: none;}
