
<!-- https://bootsnipp.com/snippets/Q04ZX -->



<div class="container content">
    <h3>
        {{groepNaam}}
    </h3>



  <p-tabView>
    <p-tabPanel header="Agenda" rightIcon="fa-calendar">

                <!-- AGENDA -->
                  <div><h2>Agenda</h2>
                    <button mat-button class="btn btn-dark" (click)="openDialog()">{{'GROUP.AGENDAADD' | translate}}</button>
                  </div>
      <br>
                  <div class="agenda">
                    <div class="table-responsive">
                      <table class="table table-condensed table-bordered">
                        <thead>
                        <tr>
                          <th>{{'DIALOG.DATE' | translate}}</th>
                          <th>{{'DIALOG.TIME' | translate}}</th>
                          <th>{{'DIALOG.EVENT' | translate}}</th>
                          <th>{{'DELETE' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Single event in a single day -->
                        <ng-container *ngFor="let item of myAgendaItems">

                          <tr>
                            <td class="agenda-date" class="active" rowspan="1">
                              {{item.datum}}
                            </td>
                            <td class="agenda-time">
                              {{item.tijd}}
                            </td>
                            <td class="agenda-events">
                              <div class="agenda-event">
                                {{item.onderwerp}}
                              </div>
                            </td>
                            <td class="agenda-events">
                              <div class="agenda-event">
                                <form>
                                  <input type="hidden" value="{{item.id}}" #itemId>
                                  <button type="submit" (click)="deleteAgendaItem(itemId.value)">{{'DELETE' | translate}}</button>

                                </form>

                              </div>
                            </td>
                          </tr>

                        </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>


    </p-tabPanel>
    <p-tabPanel header="Timesheets" rightIcon="fa-blind">
      Content 2
    </p-tabPanel>
    <p-tabPanel header="Github" rightIcon="fa-github-square">
                  <form>
                    <img src="" id="foto" height="100px" width="200px">
                    <input type="text">
                    <button class="btn btn-dark">{{'GROUP.UPLOAD' | translate}}</button>
                  </form>


    </p-tabPanel>
    <p-tabPanel header="{{'GROUP.OVERVIEW' | translate}}" >
      <!--TODO:algemene info kunnen tonen zoals telefoon en email-->

      <table>
                    <th>{{'FIRSTNAME' | translate}}</th>
                    <th>{{'LASTNAME' | translate}}</th>
                    <th>{{'ROLE' | translate}}</th>

                    <ng-container *ngFor="let d of myData2">

                      <tr>
                        <td>{{d.voornaam}}</td>
                        <td>{{d.achternaam}}</td>
                        <td>{{d.rol}}</td>
                      </tr>
                    </ng-container>
                  </table>

    </p-tabPanel>

    <p-tabPanel header="{{'GROUP.FILES' | translate}}">
      <div class="row">
      <p-fileUpload name="myfile" url="http://localhost:8080/upload/{{groepNaam}}"  (onUpload)="onUpload($event)"
                     accept=".xlsx,.xls,image/*,.doc,.docx,.ppt,.pptx,.txt,.pdf,.rtf,application/msword,
                     application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                     application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.slideshow,
                     application/vnd.openxmlformats-officedocument.presentationml.presentation,application/pdf,
                     application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
                    maxFileSize="1000000">
      </p-fileUpload>
      </div>

<br>
    <div class="row">
      <p-table [columns]="cols" selectionMode="single" [value]="uploadedFiles" [paginator]="true" [rows]="10" [(selection)]="selectedGroep" (onRowSelect)="onRowSelect($event)">

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 2.25em">
              <i class="fa fa-file"></i>
            </th>
          <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-groep>
          <tr>
            <td><p-tableRadioButton [value]="rowData"></p-tableRadioButton></td>
            <td>{{groep.name}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    </p-tabPanel>
  </p-tabView>




</div>
