
<!-- https://bootsnipp.com/snippets/Q04ZX -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>

<div class="container content">
    <h3>
        {{groepNaam}}
    </h3>



  <p-tabView>
    <p-tabPanel header="Agenda" rightIcon="fa-calendar">
      <!-- AGENDA -->
                  <div><h2>Agenda</h2>
                    <button mat-button class="btn btn-dark" (click)="openDialog()">{{'GROUP.AGENDAADD' | translate}}</button>
                  </div>
                  <br>
                  <div class="agenda">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th>{{'DIALOG.DATE' | translate}}</th>
                          <th>{{'DIALOG.TIME' | translate}}</th>
                          <th>{{'DIALOG.EVENT' | translate}}</th>
                          <th>{{'DELETE' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngFor="let item of myAgendaItems">
                          <tr>
                            <td>
                              {{item.datum}}
                            </td>
                            <td>
                              {{item.tijd}}
                            </td>
                            <td>
                                {{item.onderwerp}}
                            </td>
                            <td>
                                  <input type="hidden" value="{{item.id}}" #itemId>
                                  <button type="submit" class="btn btn-dark" (click)="deleteAgendaItem(itemId.value)">X</button>
                            </td>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
    </p-tabPanel>
    <p-tabPanel header="Timesheets" rightIcon="fa-blind">
      <!-- TIMESHEETS -->
                  <div><h2>Timesheet</h2></div>
                  <button mat-button class="btn btn-dark" (click)="openTimesheets()">{{'DIALOG.TIMESHEET' | translate}}</button>
                  <button mat-button class="btn btn-dark" (click)="exportToPdf()">{{'DIALOG.PDF' | translate}}</button>
                  <br><br>
                  <div class="agenda">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th>{{'DIALOG.DATE' | translate}}</th>
                          <th>{{'DIALOG.BEGINTIME' | translate}}</th>
                          <th>{{'DIALOG.ENDTIME' | translate}}</th>
                          <th>{{'DIALOG.EVENT' | translate}}</th>
                          <th>{{'DELETE' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngFor="let i of myTimesheetsItems">
                          <tr>
                            <td>
                              {{i.datum}}
                            </td>
                            <td>
                              {{i.beginTijd}}
                            </td>
                            <td>
                              {{i.eindTijd}}
                            </td>
                            <td>
                                {{i.onderwerp}}
                            </td>
                            <td>
                                  <input type="hidden" value="{{i.id}}" #iId>
                                  <button type="submit" class="btn btn-dark" (click)="deleteTimesheetItem(iId.value)">X</button>
                            </td>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
    </p-tabPanel>
    <p-tabPanel header="Github" rightIcon="fa-github-square">
      <!-- GITHUB -->
                 <form>
                    <img src="" id="foto" height="100px" width="200px">
                    <input type="text">
                    <button class="btn btn-dark">{{'GROUP.UPLOAD' | translate}}</button>
                  </form>
    </p-tabPanel>
    <p-tabPanel header="{{'GROUP.OVERVIEW' | translate}}" >
      <!-- OVERZICHT -->
            <table class="table table-striped">
                  <thead>
                              <th>{{'FIRSTNAME' | translate}}</th>
                              <th>{{'LASTNAME' | translate}}</th>
                              <th>{{'ROLE' | translate}}</th>
                              <th>Gsm</th>
                              <th>E-mail</th>
                  </thead>
                  <tbody>
                              <ng-container *ngFor="let d of myData2">
                                <tr>
                                  <td>{{d.voornaam}}</td>
                                  <td>{{d.achternaam}}</td>
                                  <td>{{d.rol}}</td>
                                  <td>{{d.gsm}}</td>
                                  <td>{{d.email}}</td>
                                </tr>
                              </ng-container>
                  </tbody>
            </table>

    </p-tabPanel>

    <p-tabPanel header="{{'GROUP.FILES' | translate}}">
      <!-- FILES -->
                  <div class="row">
                  <p-fileUpload name="myfile" url="http://46.101.57.64:1337/upload/{{groepNaam}}"  (onUpload)="onUpload($event)"
                                 accept=".xlsx,.xls,image/*,.doc,.docx,.ppt,.pptx,.txt,.pdf,.rtf,application/msword,
                                 application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                                 application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.slideshow,
                                 application/vnd.openxmlformats-officedocument.presentationml.presentation,application/pdf,
                                 application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
                                maxFileSize="1000000">
                  </p-fileUpload>
                  </div>

               <br>
                <div class="row">
                  <p-table [columns]="cols" selectionMode="single" [value]="uploadedFiles" [paginator]="true" [rows]="10" [(selection)]="selectedGroep" (onRowSelect)="onRowSelect($event)">
                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th style="width: 3em">
                        </th>
                      <th></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-groep>
                      <tr>
                        <td> <button pButton icon="fa-download" (click)="onRowSelect(groep.name)" [value]="rowData"></button></td>
                        <td>{{groep.name}}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
    </p-tabPanel>
    <!-- GROUPCHAT -->
    <p-tabPanel header="Chat" [selected]="focusChatInput()">
        <ul id="chatLijst">
          <ng-container *ngFor="let item of users">
          <li>
              [
          {{item}}
              ]
          </li>
            <li> - </li>
            </ng-container>
        </ul>
      <hr>
       <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div id="chat-body" class="panel-body1">
                            <ul class="chat">
                                <div *ngFor="let item of messages">
                                                    <div class="chat-body clearfix">
                                                        <div class="header">
                                                            <strong class="primary-font">{{item.user.user}}</strong>
                                                        </div>
                                                        <p>
                                                            {{item.msg.msg}}
                                                        </p>
                                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" (keyup.enter)="sendMessage(msg)" type="text" class="form-control input-sm" placeholder="Type your message here..." #msg />
                                <span class="input-group-btn">
                                    <button class="btn btn-dark" id="btn-chat" (keyup.enter)="test($event)" (click)="sendMessage(msg)">Send</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
  </p-tabView>




</div>
