<div class="panel">
  <div class="panel-heading">
    <h4 class="text-center"> In mijn dagelijkse werk:</h4>
  </div>
  <hr>
  <div class="panel-body">
    <div class="row">
    </div>
    <br>
    <form [formGroup]="vraag4Form" class="form-horizontal">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Zie ik het liefst niets vaags in mijn opdracht
            </label>
            <label class="radio-inline">
              <input formControlName="A25" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A25" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A25" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A25" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A25" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A25" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A25" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A25" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A25" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A25" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Heb ik geen moeite om mijn eigen mening te geven in vergaderingen
            </label>
            <label class="radio-inline">
              <input formControlName="A26" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A26" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A26" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A26" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A26" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A26" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A26" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A26" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A26" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A26" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Kan ik met iedereen werken, zolang ze iets te bieden hebben
            </label>
            <label class="radio-inline">
              <input formControlName="A27" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A27" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A27" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A27" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A27" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A27" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A27" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A27" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A27" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A27" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Kan ik met iedereen werken, zolang ze iets te bieden hebben
            </label>
            <label class="radio-inline">
              <input formControlName="A28" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A28" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A28" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A28" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A28" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A28" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A28" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A28" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A28" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A28" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Kan ik argumenten geven die ongehoorde voorstellen weerlegt
            </label>
            <label class="radio-inline">
              <input formControlName="A29" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A29" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A29" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A29" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A29" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A29" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A29" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A29" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A29" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A29" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Zie ik patronen waar anderen alleen maar aparte onderdelen ziet
            </label>
            <label class="radio-inline">
              <input formControlName="A30" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A30" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A30" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A30" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A30" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A30" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A30" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A30" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A30" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A30" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Druk zijn geeft me echte voldoening
            </label>
            <label class="radio-inline">
              <input formControlName="A31" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A31" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A31" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A31" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A31" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A31" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A31" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A31" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A31" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A31" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              Leer ik graag adere mensen kennen
            </label>
            <label class="radio-inline">
              <input formControlName="A32" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A32" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A32" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A32" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A32" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A32" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A32" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A32" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A32" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A32" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
