
<button mat-button class="btn btn-dark" (click)="openDialog()">Add Use Case</button>
<br>
<br>
<p-pickList [source]="coding" [target]="codingDone" [responsive]="true" dragdrop="true" sourceHeader="Coding" targetHeader="Coding Done"
    dragdropScope="x" (onMoveToTarget)="sourceToTarget($event)" (onMoveToSource)="targetToSource($event)">
    <ng-template let-car pTemplate="item">
        <div class="ui-helper-clearfix">
            <div style="font-size:14px;text-align:center;margin:15px 5px 0 0">{{car.subject}} <br> {{car.user}}</div>
          <hr>
        </div>
    </ng-template>
</p-pickList>
