<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Timesheets toevoegen</h1>
  <mat-dialog-content>
    <div class="row">
      <label class="control-label col-sm-4">{{'DIALOG.DATE' | translate}}</label>
      <input formControlName="date" matInput class="form-control col-md-6" [matDatepicker]="myDatepicker" placeholder="12/06/1996">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </div>
    <div class="row">
      <label class="control-label col-sm-4">Begin</label>
      <input matInput formControlName="startHour" class="form-control col-md-6" placeholder="14:00">
    </div>
    <div class="row">
      <label class="control-label col-sm-4">Einde</label>
      <input matInput formControlName="endHour" class="form-control col-md-6" placeholder="15:00">
    </div>
    <div class="row">
      <label class="control-label col-sm-4">{{'DIALOG.EVENT' | translate}}</label>
      <input matInput formControlName="event" class="form-control col-md-6" placeholder="{{'DIALOG.MEETING' | translate}}">
    </div>
    <br>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="btn btn-dark" type="submit">{{'ADD' | translate}}</button>
    &nbsp;
    <button mat-button class="btn btn-dark" type="button" mat-dialog-close>{{'CANCEL' | translate}}</button>
  </mat-dialog-actions>
</form>
