<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">

      <h4 class="modal-title">Agenda item toevoegen</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <form>
        <input type="text" class="form-control" id="datum" name="datum" placeholder="2018-02-18" required #datum>
        <input type="text" class="form-control" id="tijd" name="name" placeholder="tijd" required #tijd>
        <input type="text" class="form-control" id="onderwerp" name="name" placeholder="onderwerp" required #onderwerp>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="addAgendaItem(datum,tijd,onderwerp)">Toevoegen</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>