


<!-- Form -->
<div class="container" id="formProjectAanmaken">
  <div class="col-md-5">
    <div class="form-area">
      <form role="form">
        <br style="clear:both">
        <h3 style="margin-bottom: 25px; text-align: center;">{{'HEADER.LOGIN' | translate}}</h3>
        <div class="form-group">
          <input type="text" class="form-control" id="gebruikersnaam" name="name" placeholder="{{'PLACEHOLDERUSERNAME' | translate}}" required #gebruikersnaam>
          <show-hide-password icon="fontawesome">
            <input type="password"  id="wachtwoord"  placeholder="{{'PLACEHOLDERPW' | translate}}" #wachtwoord>
          </show-hide-password>
        </div>
        <button type="button" id="submit" name="submit" class="btn btn-dark pull-right" (click)="login(gebruikersnaam,wachtwoord)">{{'HEADER.LOGIN' | translate}}</button>
      </form>
    </div>
  </div>
</div>

