<div class="panel">
  <div class="panel-heading">
    <h4 class="text-center">{{'QUIZ.HEADERQ3' | translate}}</h4>
  </div>
  <hr>
  <div class="panel-body">
    <div class="row">
    </div>
    <br>
    <form [formGroup]="vraag3Form" class="form-horizontal">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q17' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A17" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A17" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A17" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A17" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A17" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A17" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A17" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A17" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A17" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A17" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q18' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A18" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A18" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A18" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A18" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A18" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A18" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A18" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A18" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A18" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A18" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q19' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A19" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A19" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A19" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A19" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A19" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A19" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A19" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A19" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A19" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A19" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q20' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A20" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A20" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A20" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A20" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A20" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A20" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A20" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A20" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A20" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A20" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q21' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A21" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A21" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A21" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A21" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A21" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A21" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A21" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A21" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A21" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A21" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q22' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A22" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A22" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A22" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A22" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A22" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A22" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A22" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A22" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A22" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A22" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q23' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A23" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A23" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A23" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A23" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A23" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A23" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A23" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A23" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A23" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A23" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <label class="control-label col-md-6 col-sm-12">
              {{'QUIZ.Q24' | translate}}
            </label>
            <label class="radio-inline">
              <input formControlName="A24" type="radio" value="1">
              1
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A24" type="radio" value="2">
              2
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A24" type="radio" value="3">
              3
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A24" type="radio" value="4">
              4
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A24" type="radio" value="5">
              5
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A24" type="radio" value="6">
              6
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A24" type="radio" value="7">
              7
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A24" type="radio" value="8">
              8
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A24" type="radio" value="9">
              9
            </label>
            &nbsp;
            <label class="radio-inline">
              <input formControlName="A24" type="radio" value="10">
              10
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
