
<!-- https://bootsnipp.com/snippets/Q04ZX -->


<!-- Form -->
<div class="container" id="formProjectAanmaken">
    <div class="col-md-5">
        <div class="form-area">
            <form role="form">
                <br style="clear:both">
                <h3 style="margin-bottom: 25px; text-align: center;">Maak nieuw project aan</h3>
                <div class="form-group">
                    <input type="text" class="form-control" id="voornaam" name="name" placeholder="naam van het project" required #projectNaam>
                   <input type="number" name="aantal" min="1" #aantalGroepen placeholder="aantal groepen">

                </div>

                <button type="button" id="submit" name="submit" class="btn btn-primary pull-right" (click)="maakProject(projectNaam,aantalGroepen)">aanmaken</button>
            </form>
        </div>
    </div>
</div>

